.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    height: 50px;
  }
  
  .navbar button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .navbar button:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .pixel-art {
    image-rendering: pixelated; /* Chrome, Opera */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges; /* Safari */
    width: 50px; /* Установка фиксированного размера */
    height: 50px;
    background-size: contain; /* Изменено с cover на contain для полного отображения изображения */
  }